body,html { 
			font-family: "PT Sans","Arial", sans-serif;
			text-transform: uppercase;
			text-decoration: none;
            background-color:#f2f2f2;
            position: relative;
		}
a {
	text-transform: uppercase;
	text-decoration: none;
}	

.wrapper-page {
    margin:0 auto;
    max-width:1200px;
    min-width:768px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.navigaion-header {
    position: relative;
    z-index: 2;
    background-color: white; 
    padding:0 0px; 
    margin:0;
}
.navigaion-header_list {
    display: flex;  
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;
    padding:0 0px; 
    margin:0;
    height: 56px;
    list-style: none;      
}
.navigaion-header_list-item {
        flex-grow: 1;
        width: 20%;
        height: inherit;
        background-color: white;
                &:nth-child(1){ 
                    :first-child { 
                        float:left;
                        padding-top: 16px;
                        padding-bottom: 22px;
                        padding-left: 72px;
                        padding-right: 10px;
                    }   
                }
                &:nth-child(2){
                    :first-child {
                        float:left;
                        padding-top: 16px;
                        padding-bottom: 22px;
                        padding-left: 13px; 
                        padding-right: 20px;                            
                    }
                }
                &:nth-child(3){
                    :first-child {
                        float: right;
                        padding-top: 16px;
                        padding-bottom: 22px;                           
                        padding-left: auto;
                        padding-right: 16px;                                
                    }       
                }
                &:nth-child(4){
                    :first-child {
                        float: right;
                        padding-top: 16px;
                        padding-bottom: 22px;
                        padding-left: auto;
                        padding-right: 70px;
                        
                    }                   
                }                
}

.navigaion-header_btn {
    display: block;
    height: auto;
    width: auto;
    font-weight: bold;
    font-size: 14px;
    line-height :24px;
    color: black;
    text-decoration: none;    
}
.navigaion-header_btn:hover {
    color: #81b3d2; 
    }
.navigaion-header_btn:active {
    color: #dadada;
    } 
 .navigaion-header_btn-active{
    color: #766357
}
.navigaion-header_logo{
    display: block;
    position: absolute;
    left: calc(50% - 69px);
    top:0;
    margin-top: 0px; 
}

.navigaion-header_btn-link-active{color: #766357;}

.promo {

    padding:0 0px;
    margin: 0;
    background-color:#f2f2f2;
    min-height: 56px;
    background-color: white; 
    h2{
        font-size:21px;
        line-height: 21px;
        font-weight: bold; 
        }
    p {
        font-size:14px;
        line-height: 21px; 
        }


}
.promo_img-sedona{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    flex-wrap: nowrap; 
    text-align:center;
    width:inherit;
    height: 508px;
    background-image: url(../img/fon-promo-top-text.png),url(../img/fon-promo-top.jpg);
    background-repeat: no-repeat;
    background-size:  auto, cover;
    background-position:  center, 100% 28%;
    z-index: 1;    
}

.promo_img-sedona::after {
                content:"";
                background-image: url(../img/fon-promo-top-mask.png);
                background-repeat: no-repeat;
                position: absolute;
                top:89%;
                left: calc(50% - 600px);
                display: block;
                width: 1200px;
                height: 57px;  
    

}
.promo_title {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    flex-wrap: nowrap; 
    height: 216px;
    text-align: center;
    background-color: white;  
        h2 {
            width: 570px;
            padding-top: 9px;
            margin: 0;
            font-size: 21px;
            font-weight: bold;
            line-height: 26px;
        }
        p {

            margin: 0;
            padding-top: 28px;
            font-size: 14px;
            line-height: 26px;
        }  

} 

.promo_long-imgr {
    display: flex;  
    padding:0 0px;
    background-color:#f2f2f2;
    min-height: 56px;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    flex-wrap: nowrap; 
    align-content: center; 
    text-align:center;
  }

.promo_items-long-imgr {
  &:nth-child(1){
    height: 256px;
    width: 400px;
    background-color: #81b3d2;
    color: white;
        h2 {
            margin: 0;
            padding-left: 100px;
            padding-right: 100px;
            padding-top: 57px;
            padding-bottom: 8px;            
 
        }
        p {
            padding-bottom: 6px;
            padding-left: 50px;
            padding-right: 50px;

  
        }        
  }
  &:nth-child(2){
    width: 800px;
    height: 256px;       
  }
}




.promo_advantages-with-icon {
display: flex;  
padding:0 0px;
background-color:#f2f2f2;
min-height: 56px;
flex-direction: row;
align-items: center; 
justify-content: center; 
flex-wrap: nowrap; 
align-content: center; 
text-align:center;
height: 330px;
}

.promo_advantages-with-icon-items {
    background-color: white;
    position: relative;
    width: 34.3%;
    height: inherit;

        h2 {
                margin: 0;
                padding-top: 160px;
            }

    &:nth-child(1){
            p   {
                margin: 0;
                padding-top: 25px;
                padding-right: 55px;
                padding-left: 55px; 

                }            

            :first-child::before {
                        content:"";
                        background-image: url(../img/iconsprite.png);
                        background-repeat: no-repeat;
                        background-position: -456px -30px;
                        position: absolute;
                        top:18%;
                        right: 41%;
                        display: block;
                        width: 75px;
                        height: 72px;       
                    }
                  }   
    &:nth-child(2) {
            p   {
                margin: 0;
                padding-top: 25px;
                padding-right: 55px;
                padding-left: 55px;
                }         

            :first-child::before {
                content:"";
                background-image: url(../img/iconsprite.png);
                background-repeat: no-repeat;
                background-position: -30px -100px;
                position: absolute;
                top:18%;
                right: 41%;
                display: block;
                width: 74px;
                height: 70px;                  
            }

        }
    &:nth-child(3) {
            p   {
                margin: 0;
                padding-top: 25px;
                padding-right: 55px;
                padding-left: 55px;

                }        
            :first-child::before {
                        content:"";
                        background-image: url(../img/iconsprite.png);
                        background-repeat: no-repeat;
                        background-position: -256px -264px;
                        position: absolute;
                        top:18%;
                        right: 41%;
                        display: block;
                        width: 64px;
                        height: 76px;
                    }                                                             

        }  
}



.promo_long-imgl {
    display: flex;  
    padding:0 0px;
    background-color:#f2f2f2;
    min-height: 56px;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    flex-wrap: nowrap; 
    align-content: center; 
    text-align:center;
  }

.promo_items-long-imgl {
  &:nth-child(1){
    width: 800px;
    height: 256px; 
  }
  &:nth-child(2){

    height: 256px;
    width: 400px;
    background-color: #81b3d2;
    color: white;
        h2 {

            margin: 0;

            padding-left: 120px;
            padding-right: 120px;
            padding-top: 54px;
            padding-bottom: 12px;
            line-height: 21px;
        
        }
        p {
            padding-bottom: 6px;
            padding-left: 48px;
            padding-right: 48px;    
        }                  
  }
}

.promo_advantages-with-text {
    display: flex;  
    padding:0 0px;
    background-color:#f2f2f2;
    min-height: 56px;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    flex-wrap: nowrap; 
    text-align:center;
    height: 256px;
}
.promo_advantages-with-text-items {
    width: 34.3%;
    height: inherit;
    background-color:#f2f2f2;
        &:nth-child(1){
               h2 {
                    margin: 0;
                    padding-top: 47px;
                    padding-bottom: 25px;
                    padding-left: 140px;
                    padding-right: 145px;

                }
                p   {
                    margin: 0;
                    padding-bottom: 20px;
                     padding-left: 60px;
                    padding-right: 60px;
                    }             
        }
        &:nth-child(2){
               h2 {
                    padding-left: 140px;
                    padding-right: 145px;                
                    margin: 0;
                    padding-top: 47px;
                    padding-bottom: 25px;

                }
                p   {
                    margin: 0;
                     padding-left: 60px;
                    padding-right: 60px;
                    padding-bottom: 20px;

                    }             
        }
        &:nth-child(3){
               h2 {

                    padding-left: 140px;
                    padding-right: 145px;                
                    margin: 0;
                    padding-top: 47px;
                    padding-bottom: 25px;
                }
                p   {

                    margin: 0;
                     padding-left: 60px;
                    padding-right: 60px;
                    padding-bottom: 20px;


                    }             
        }
                                                             
}


/* search hotels*/

.search-hotels {
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    align-content: stretch; 
    height:  290px;
    text-align:center;
    height: inherit;        
  }

.search-hotels_title {
    h2 {
        margin:0;
        font-size: 30px;
        line-height: 24px; 
        font-weight: bold;
        padding-top: 55px;

        padding-bottom: 30px;
        }
    p   {

        margin: 0px;    
        font-size: 14px;
        line-height: 24px; 
        text-align: center;
        }     
    }


.search-hotels_dropdown-form {
    height: 85px;
    width: 568px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 48px;
    background-color: #766357;
}

.search-hotels_btn {
    width: 568px;
    height: 55px;
    display: block;
    margin: 0;
    padding-top: 30px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.search-hotels_btn:hover {
    background-color: #604e43;
}
.search-hotels_btn:active {
    background-color: #503e33;
    color: #877d78;
}


.search-hotels_form-search {
    width: 568px;
    height: 396px;
    z-index: 5;
    position: relative;
    background-color: #ffffff;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);  
        input[type="submit"] {
            display: block;
            position: absolute;
            height: 55px;
            width: 458px;
            background-color: #81b3d2; 
            bottom: 55px;
            left: 55px;
            right: 55px;
            top:282px;
            border: 0;
            color: #ffffff;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 21px;
            line-height: 26px;
        }
        label[for="search-hotels_date-in"] {
            display: inline-block;
            position: absolute;
            width: 90px;
            height: 18px;
            left: 55px;
            right:  422px;
            bottom: 314px;
            top: 65px; 
            font-size:14px;
            font-weight: bold; 
            vertical-align: top;                                
        }    
        input[name="search-hotels_date-in-text"] {
            display: block;
            position: absolute;
            left: 167px;
            right:  55px;
            bottom: 302px;
            top: 55px;   
            height: 35px;
            width: 333px;
            background-color: #f2f2f2;
            border: 0;
            padding-left: 13px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
        }
        label[for="search-hotels_date-out"] {
            display: inline-block;
            position: absolute;
            width: 93px;
            height: 18px;
            left: 55px;
            right:  419px;
            bottom: 247px;
            top: 133px; 
            font-size:14px;
            font-weight: bold; 
            vertical-align: top;                                
        }                                      
        input[name="search-hotels_date-out-text"] {
            display: block;
            position: absolute;
            left: 167px;
            right:  55px;
            bottom: 302px;
            top: 122px;   
            height: 35px;
            width: 333px;
            background-color: #f2f2f2;
            border: 0;
            padding-left: 13px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;                                
        }
        label[for="search-hotels_adults-text"] {
            display: inline-block;
            position: absolute;
            width: 90px;
            height: 18px;
            left: 46px;
            right:  419px;
            bottom: 181px;
            top: 200px; 
            font-size:14px;
            font-weight: bold; 
            vertical-align: top;                                
        }
        input[class="search-hotels_adults-btn-minus"] {
            display: block;
            position: absolute;
            left: 167px;
            top:190px;
            right: 363px;
            bottom: 167px;
            border: 0;
            height: 38px;
            width: 38px;
            background-image: url(../img/iconsprite.png);
            background-repeat: no-repeat;
            background-position: -401px -146px;
            background-color: #f2f2f2;
        }                       
        input[id="search-hotels_adults-text"] {

            display: block;
            position: absolute;
            left: 205px;
            top:190px;
            right: 325px;
            bottom: 167px;
            border: 0;
            height: 36px;
            width: 25px;
            margin: 0;
            padding-left: 12px;
            background-color: #f2f2f2;
            color: #000000;
            font-weight: bold;
        }
        input[class="search-hotels_adults-btn-plus"] {
            display: block;
            position: absolute;
            left: 242px;
            top:190px;
            right: 288px;
            bottom: 167px;
            border: 0;
            height: 38px;
            width: 38px;
            background-image: url(../img/iconsprite.png);
            background-repeat: no-repeat;
            background-position: -471px -212px;
            background-color: #f2f2f2;
        }                       
        label[for="search-hotels_children-text"] {
            display: inline-block;
            position: absolute;
            width: 90px;
            height: 18px;
            left: 308px;
            bottom: 181px;
            top: 200px; 
            font-size:14px;
            font-weight: bold; 
            vertical-align: top;                                
        }
        input[class="search-hotels_children-btn-minus"] {
            display: block;
            position: absolute;
            left: 399px;
            top:190px;
            right: 131px;
            bottom: 167px;
            border: 0;
            height: 38px;
            width: 38px;
            background-image: url(../img/iconsprite.png);
            background-repeat: no-repeat;
            background-position: -401px -146px;
            background-color: #f2f2f2;
        }
        input[id="search-hotels_children-text"] {

            display: block;
            position: absolute;
            left: 437px;
            top:190px;
            right: 93px;
            bottom: 167px;
            border: 0;
            height: 36px;
            width: 25px;
            margin: 0;
            padding-left: 12px;
            background-color: #f2f2f2;
            color: #000000;
            font-weight: bold;
        }
        input[class="search-hotels_children-btn-plus"] {
            display: block;
            position: absolute;
            left: 472px;
            top:190px;
            right: 55px;
            bottom: 167px;
            border: 0;
            height: 38px;
            width: 38px;
            background-image: url(../img/iconsprite.png);
            background-repeat: no-repeat;
            background-position: -471px -212px;
            background-color: #f2f2f2;
        }                              
        input[type="submit"]:hover {
            background-color: #669ec0;
        }
        input[type="submit"]:active {
            background-color: #5496bd;
            color: #94b9d2;
        }
        input[type="text"]:hover {
            background-color: #ebebeb;
        }
        input[type="text"]:focus {
            background-color: #ffffff;
        } 
        input[class="search-hotels_adults-btn-minus"]:hover {
            background-position: -401px -208px;
        }
        input[class="search-hotels_adults-btn-minus"]:active {
            background-position: -473px -146px;
        }
        input[class="search-hotels_children-btn-minus"]:hover {
            background-position: -401px -208px;
        }        
        input[class="search-hotels_children-btn-minus"]:active {
            background-position: -473px -146px;
        }
        input[class="search-hotels_adults-btn-plus"]:hover {
            background-position: -436px -283px; 
        }
        input[class="search-hotels_children-btn-plus"]:hover {
            background-position: -436px -283px; 
        }
        input[class="search-hotels_adults-btn-plus"]:active {
            background-position: -365px -283px; 
        }
        input[class="search-hotels_children-btn-plus"]:active {
            background-position: -365px -283px; 
        }                                                                                                                                                                                                                                                                                                                                                            
}

.search-hotels_icon-date-in {
    display: block;
    position: absolute;
    top: 50px;
    left: 483px;
    right: 64px;
    bottom: 302px;
    top: 63px;                                  
    width: 21px;
    height: 22px;
    background-image: url(../img/iconsprite.png);
    background-repeat: no-repeat;
    background-position: -164px -100px;
}                       
.search-hotels_icon-date-out {
    display: block;
    position: absolute;
    top: 50px;
    left: 483px;
    right: 64px;
    bottom: 302px;
    top: 130px;                                 
    width: 21px;
    height: 22px;
    background-image: url(../img/iconsprite.png);
    background-repeat: no-repeat;
    background-position: -164px -100px;
}                 
.search-hotels_icon-date-in:hover {
     background-position: -326px -100px;

}
.search-hotels_icon-date-in:active {
     background-position: -245px -100px;
}
.search-hotels_icon-date-out:hover {
     background-position: -326px -100px;

}
.search-hotels_icon-date-out:active {
     background-position: -245px -100px;
} 




.promo_img-map {
    display: flex;  
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    text-align:center;
    padding:0 0px;
    width:100%; 
    min-height: 56px;  
    height: 593px;
    margin-bottom: -120px;
    background-color:#f2f2f2;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
  }


.navigaion-footer {
    display: flex;  
    padding:0 0px;
    background-color:#f2f2f2;
    min-height: 56px;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: nowrap; 
    background:rgba(255,255,255, 0.9); 
  } 
.navigaion-footer_item {
    width:33.3%;         
    height: 120px;
        &:nth-child(2){
            display: block; 
            width: 153px;
            height: 47px;
            margin: 38px auto;
        }
        &:nth-child(3){
            margin: 0;
            padding: 0;
            position: relative;
        }
}

/* FOOTER */
.navigaion-footer_heshteg-link {
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding-left: 134px;
    padding-top: 49px;
    vertical-align: top;
}

.social-btn-footer {
font-size: 0px;
display: inline-block;
display: relative;
vertical-align: top;
height: inherit;
width: 44px;
margin-right: 4px;
background-color: #81b3d2;
}

.social-btn-footer:hover {
    background-color: #669ec0;
}                                                                           
.social-btn-footer--twitter::before  {
        content:"";
        background-image: url(../img/iconsprite.png);
        background-repeat: no-repeat;
       background-position: -510px -281px; 
        position: absolute;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: inherit;
        height: inherit;
}
.social-btn-footer--twitter:active::before  {
        background-image: url(../img/iconsprite.png);
        background-repeat: no-repeat;
        background-position: -18px -356px;
}                               

.social-btn-footer--facebook::before  {
        content:"";
        background-image: url(../img/iconsprite.png);
        background-repeat: no-repeat;
        background-position: -100px -252px;
        position: absolute;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: inherit;
        height: inherit;
}
.social-btn-footer--facebook:active::before  {
        background-image: url(../img/iconsprite.png);
        background-repeat: no-repeat;
        background-position: -170px -252px;
}                                       
.social-btn-footer--youtube::before  {
        content:"";
        background-image: url(../img/iconsprite.png);
        background-repeat: no-repeat;                                           
        background-position: -94px -356px;
        position: absolute;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: inherit;
        height: inherit;                                                

}
.social-btn-footer--youtube:active::before  {
        background-image: url(../img/iconsprite.png);
        background-repeat: no-repeat;
        background-position: -368px -356px;
}

.text-footer-logo {
    display: block;
    position: absolute;
    bottom: 34px;
    right: 213px;
    width: 85px;
    font-size: 14px;
    line-height: 26px;
}
.img-footer-logo {
            display: block;
            position: absolute;
            right: 102px;
            bottom: 40px;
            top: 41px;
            background-image: url(../img/sprite_logo_htmlacademy.png);
            width: 113px;
            height: 39px;
            background-position: -30px -30px;
}
.img-footer-logo:hover{
             background-position: -30px -228px;
       
}
.img-footer-logo:active{
               background-position: -30px -129px;
}

/* hotels.html*/
.hotels {

    padding:0 0px;
    margin: 0;
    min-height: 56px;
    background-color: white; 
    h2{
        font-size:21px;
        line-height: 21px;
        font-weight: bold; 
        }
    p {
        font-size:14px;
        line-height: 21px; 
        }


}

.hotels_filters {


    min-height: 217px;
    background-image: url(../img/hotel/fon-promo-top-hotel.jpg);
    background-repeat: no-repeat;
    background-position: 45% 50%;
    color: white;
    position: relative;
        legend{
            font-size: 16px;
            font-weight: bold;
            line-height: 21px;
            padding: 0;
            margin:0;
            

        }
        input[type="checkbox"] {
            display: none; 
        }
        label[for="type-hotels"],
        label[for="type-motel"],
        label[for="type-apartments"],
        label[for="infrastructure-pool"],
        label[for="infrastructure-parking"],
        label[for="infrastructure-wifi"] {
            float: left;
            margin-top: 24px;
            padding-left: 40px;
            position: relative;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
                  text-transform: uppercase;  

        }        
        input[type="checkbox"] + .checkbox-indicator {
            position: absolute;
            background-image: url(../img/iconsprite.png);
            background-repeat: no-repeat;
            width: 22px;
            height: 22px;
            left: 0;
            background-position: -164px -182px;
        }        
        input[type="checkbox"]:checked + .checkbox-indicator {
            width: 26px;
            height: 22px;
            background-position: -328px -182px;  
        }
        input[type="checkbox"]:disabled + .checkbox-indicator {
            width: 22px;
            height: 22px;
            background-position: -246px -182px;
        }
        input[type="checkbox"]:checked:disabled + .checkbox-indicator {
            width: 26px;
            height: 22px;
            background-position: -30px -264px;
        }                   

}
.hotels_filters_form {
    min-height: inherit;
    padding: 0;

}


.hotels_filters-infrastructure {
    display: block;
    position: absolute;
    top: 13%;
    left: 6%;
    padding: 0;
    border:0;      
    width: 100px;

    }

.hotels_filters-type {
    display: block;
    position: absolute;

    top: 13%;
    left: 27%;
    padding: 0;
    border:0;      
    width: 140px;
}

.hotels_filters-price {
    display: block;
    position: absolute; 
    top: 13%;
    right: 6%;
    width: 318px;
    height: auto;
    color: #ffffff;  
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;      
}

.hotels_filters-price-title{
    margin-bottom: 9px;
    margin-left: -11px;
}
.hotels_filters-price-controls {
    position: relative;
    height: 34px;

    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}
.hotels_filters-price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 22px;
    background: #ffffff;
}
.hotels_filters-price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
    vertical-align: top;
    cursor: pointer; 
    font-weight: normal; 


}
.hotels_filters-price-min-price,
.hotels_filters-price-max-price {
    width: 90px;
    padding-left: 65px;
}
.hotels_filters-price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
        outline: none;

    background: none;
    border: none;
}

.hotels_filters-price-range {
    position: relative;
    margin-bottom: 32px;
}
.hotels_filters-price-range-scale {
    height: 2px;
    background: rgba(255,255,255, 0.3);
}
.hotels_filters-price-range-bar {
    width: 80%;
    height: inherit;
    background: #ffffff;    
}
.hotels_filters-price-range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer; 
}
.hotels_filters-price-range-toggle-min {
    left: 0;
}
.hotels_filters-price-range-toggle-max {
    left: 80%;
}
.hotels_filters-price-range-toggle:hover {
    background: #1c4f80; 
}
.hotels_filters-price-btn {
    display: block;
    margin:0 85px;
    padding: 6px 30px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.hotels_filters-price-btn:hover {
    color: #000000;
    background: #ffffff;
}




.hotels_tegfilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 86px;

}
.hotels_tegfilter-links  {
    list-style: none;

    margin:0;
    padding: 0;
    margin-left: 73px;
                font-size: 12px;
            line-height: 18px;
        h2 {
            font-size: 21px;
            font-weight: bold;
            line-height: 26px;

        }   
        li {
            display: inline-block;
            vertical-align: middle;
            &:nth-child(1) {
                margin-right: 43px;
            }
            &:nth-child(2) {
                margin-right: 38px;   
            }
            &:nth-child(3) {
                margin-right: 30px;
                
            }
            &:nth-child(4) {
                margin-right: 30px;
            }    

        }

}

.hotels_tegfilter-links-dashed {
    text-decoration: none;  
    border-bottom: 1px dashed #81b3d2;
    color: #b1b1b1;  
    text-transform: uppercase;
}
.hotels_tegfilter-links-dashed:hover {

    color: #a8c9df;     
}
.hotels_tegfilter-links-dashed:active {

    color: #000000;
    border-bottom:none;     
}
.hotels_tegfilter-links-blue {
    color: #a2c7de;
    text-decoration: none; 
    text-transform: uppercase;
}


.arrow {
    margin-right: 73px;
    position: relative;
    width: 34px;
    height: 10px;
}
.hotels_tegfilter-links-arrowdown{
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #81b3d2;    
}
.hotels_tegfilter-links-arrowup{
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #cccccc;
}

.hotels_tegfilter-links-arrowdown:hover {
        border-top: 10px solid #000000; 
}
.hotels_tegfilter-links-arrowup:hover {
    border-bottom: 10px solid #000000;
}

.hotels_tegfilter-links-arrowdown:active {
    border-top: 10px solid #81b3d2;
}

.hotels_tegfilter-links-arrowup:active {
    border-bottom: 10px solid #81b3d2;
}

.hotels_filters-result {
    position: relative;
    min-height: 151px;
    border-top: 1px solid #e5e5e5;
        img {
            margin-left: 72px;
            margin-top: 31px;
            margin-right: 30px;
            display: block;
        }
}
.hotels_filters-result:last-of-type {
    border-bottom: 1px solid #e5e5e5;
}
.hotels_filters-result-text {
    display: block;
    position: absolute;
    top: 26px;
    left: 237px;
    width: 259px;
    height: 100px;
    align-self: center;
            h2 {
                margin: 0;
                padding: 0;
                font-size: 21px;
                font-weight: bold;
                line-height: 26px;  
                }

}
.hotels_filters-result-text a:nth-child(1)  {
    color: #000000;
}
.hotels_filters-result-text a:nth-child(1):hover  {
    color: #81b3d2;
}
.hotels_filters-result-text a:nth-child(1):active  {
    color: #cacaca;
}
.hotels_filters-result-type {

        display: block;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 31px;
          p {margin: 0;}
}
.hotels_filters-result-cost {

        display: block;
        position: absolute;
        top: 31px;
        right: 78px;
        margin: 0;
        padding-top: 0px; 
        p {margin: 0;}
}
.hotels_filters-result-btnl {
    display: block;
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}
.hotels_filters-result-btnl:hover {
    background-color: #669ec0;
}
.hotels_filters-result-btnl:active {
    background-color: #5496bd;
    color: #94b9d2;
}
.hotels_filters-result-btnr {
    display: block;
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 142px;
    height: 27px;
    color: white;
    font-size: 14px;
    line-height: 25px;
    text-align: center;    
    font-weight: bold;    
    background-color: #766357;
}
.hotels_filters-result-btnr:hover {
    background-color: #604e43;
}
.hotels_filters-result-btnr:active {
    background-color: #503e33;
    color: #877d78;
}
.hotels_filters-rating-star {
    display: block;
    position: absolute;
    right: 71px;
    top: 29px;
    height: 20px;
}
.four-stars {
    width: 90px;
    background-image: url(../img/icon-star2.png);
    background-repeat: no-repeat;   
}
.tree-stars {
    width: 70px;
    background-image: url(../img/icon-star2.png);
    background-repeat: no-repeat;  
}
.two-stars {
    width: 50px;
    background-image: url(../img/icon-star2.png);
    background-repeat: no-repeat;     
}
.hotels_filters-rating-text {
    display: block;
    position: absolute; 
    right: 73px;  
    bottom: 30px; 
    width: 111px;
    height: 27px;
    margin: 0px;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
    color: #666666;
    font-size: 14px;
    line-height: 25px;

}



/* Servise*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
