html,body {
	font-family: "PT Sans", "Arial", serif;
		margin: 0px;
	padding: 0px;
	 min-width: 1280px;
	   position: relative;

}
/* центровшик блоков*/
.container {
	 width: 1200px;
	 margin: 0 auto;
	 padding: 0 40px;
}
/*распорк float*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*header сайта */
.nav-header li {
  display: inline-block;
  width: 128px;


}
.nav-header li:nth-child(1) {
  margin-left: 73px;
  margin-right: 113px;  
}
.nav-header li:nth-child(2) {

  margin-right: 300px;  
}

.nav-header li:nth-child(4) {
margin-left: 113px;
  
} 
.logo-header {
  display: block;
  position: absolute;
  left: calc(50% - 60px);
  top:0;
  margin-top: 0px;
}

/* index.html*/

.tegfilter-hotels ul {
	margin: 0px;
	font-size: 0px;
}

.tegfilter-hotels li {

	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	margin-right: 40px;
}


.content-header {
}


.preview-title {
	 clear: both;
	 width: 576px;
	 margin-left: auto;
	 margin-right: auto;
	 margin-bottom: 60px;
}
.promo-main {
	padding-top: 1px;
}

.preview-city img {
	float: right;
	width: 800px;
}
.text-preview-city {
	float: left;
	width: 400px;
}

.icon-advantage {
	float: left;
	width: 400px;
	margin-bottom: 88px;
	margin-top: 61px;
}

.preview-canyon img {
	float: left;
	width: 800px;
}
.text-preview-canyon {
	float: right;
	width: 400px;

}

.text-description {
	float: left;
	width: 400px;
	margin-bottom: 60px;
	margin-top: 49px;
}

.form-main {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 576px;
}

.cost-result-hotels {
	display: inline-block;
	vertical-align:top;
	font-size: 0px;
	width: 200px;


}
.cost-result-hotels p {
	font-size: 14px;
}



/* footer сайта*/
.info-footer {
	width: 240px;
	float: left;
	margin-left: 73px;
	margin-right: 88px;

}
.social-footer {
	width: 400px;
	margin-right: 88px;
	float: left;

}
.copyright-footer {
	float: right;
	width: 240px;
	margin-left: 73px;

}

/* hotel.html*/
.infrastructure-filter-holes {
	margin-left: 30px;
	float: left;
	width: 240px;
}
.type-filter-holes {
	float: left;
	width: 288px;
	margin-right: 200px;

}
.content-header {
	padding-top: 1px;
}
.content-header .container {
	padding-top: 1px;
}

.result-hotels {

	margin-bottom: 30px;
	width: 100%;	
}
.result-hotels img {
	float: left;
	width: 135px;
}
.text-result-hotels {

	margin-left: 30px;
	float: left;
	width: 270px;
}
.rating-result-hotels {
		float: right;
	width: 111px;
}

.arrow {
	font-size: 0px;
}
.tegfilter-hotels {
	position: relative;
}
.arrowup-tegfilter-hotels-main {
 display: inline-block;
 position: absolute;
 left: 95% ;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 11px solid #81b3d2;
}

.arrowdown-tegfilter-hotels-main {
display: inline-block;
 position: absolute;
 left: 92% ;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 11px solid #81b3d2;
}








/* пока вспомогательные свойства */
.title-main h2 {
	font-size: 21px;
	line-height:26px;
	color: #000000;
	text-transform: uppercase;
	font-weight:bold;

}

h2 {
	font-size: 21px;
	line-height:21px;
	color: #000000;
	text-transform: uppercase;
	font-weight:bold;
}

.form-main h2 {
	color: #000000;
	line-height:24px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight:bold;
}