body {
    font-family: "PT Sans", serif;
}
/* Посмотрел я на макет и увидел что в макете страницы  index.html у меня есть только заголовки h2 и все
 (хотя возможно под заголовками и не имелись ввиду теги h*) ...и встречаются 3 разных 
интерлиньяж этих заголовков ,а так же 2 разных размера шрифта ,а на странице hotels.html h2 в макете однообразны ... */

/* index.html */
.title-main h2 {
	font-size: 21px;
	line-height:26px;
	color: #000000;
	text-transform: uppercase;
	font-weight:bold;

}

h2 {
	font-size: 21px;
	line-height:21px;
	color: #000000;
	text-transform: uppercase;
	font-weight:bold;
}

.form-main h2 {
	color: #000000;
	line-height:24px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight:bold;
}

/* hotel.html */

